
body {
    margin-left: 25%;
    margin-right: 25%;
    font-family: "League Spartan", sans-serif;
}

.contenedor {
    text-align: center;
    position: relative;
}

.pruebacabecera {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

.textosobreimagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 2em;
}

.primerbloque {
    display: flex;
    align-items: center;
}

.primerbloque img {
    width: 50%;
}

.primerbloque > div {
    width: 50%;
}

.primerbloque p {
    font-size: 1.5em;
    text-align: left;
    margin: 0;
    padding: 0;
}

.segundobloque {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    padding: 20px;
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.columna-segundobloque {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.columna-segundobloque img {
    width: 100%;
    height: auto;
}

#texto2 {
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

.tercerbloque {
    display: flex;
    justify-content: center;
}

.tercerbloque img {
    width: 24.5%;
}

.quartobloque {
    background-color: rgb(144, 144, 253);
    font-size: 45px;
    text-align: center;
    margin: 0;
    padding: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .pruebacabecera {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
    }
}
