.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    margin-left: 25%;
    margin-right: 25%;
    font-family: "Roboto", sans-serif;
}

.contenedor {
    text-align: center;
    position: relative;
    width: 100%;
}

.pruebacabecera {
    width: 100%;
    height: 50%;
    display: block;
}

.textosobreimagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 2em;
}

.primerbloque {
    display: flex;
    align-items: left;
}

.primerbloque img {
    width: 105%;
    height: 100%;
}

#primerparrafo {
    font-size: 50px;
    margin-right: 10%;
}

#segundoparrafo {
    font-size: 35px;
    margin-right: 10%;
}

#primerparrafo2 {
    font-size: 50px;
    margin-left: 15%;
    margin-top: -5%;
}

#segundoparrafo2 {
    font-size: 40px;
    margin-left: 15%;
}
.segundobloque {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    padding: 20px;
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.columna-segundobloque {
    width: 150px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.columna-segundobloque img {
    width: 100%;
    height: auto;
}

#texto2 {
    font-size: 40px;
    text-align: center;
    margin: 20px;
}

.tercerbloque {
    display: flex;
    justify-content: space-around;
}

.tercerbloque img {
    width: 24.5%;
    justify-content: center;
    
}

.quartobloque {
    background-color: rgb(144, 144, 253);
    font-size: 45px;
    text-align: center;
    margin: 0;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    text-align: left;
}

.columna {
    flex: 1;
    text-align: center;
}

#bloque3 {
    margin-top: 5%;
}

.columna {
    text-align: left;
    font-size: 50%;
}

@media only screen and (max-width: 600px) {
    .pruebacabecera {
        width: 100%;
        height: auto;
        margin-left: 1%;
        margin-right: 1%;
    }
    body {
        margin-left: 0%;
        margin-right: 0%;
    }
    .textosobreimagen {
        margin-left: -1%;
        margin-right: -50%;
        text-align: center;
        font-size: 300%;
    }
    .primerbloque {
        display: flex;
        flex-direction: column;
    }
    .primerbloque img{
        width: 75%;
        margin-left: 10%;
    }
    .columna-segundobloque{
        width: 30%;
        padding: 20px;
    #texto2 {
        font-size: 44px;
    }
    }

    .tercerbloque img{
        width: 49%;
        justify-content: center;
    }

    /*.ultimo {
        display: flex;
        flex-direction: column;
    }*/
    .columna {
        width: 100%;
        ;
       
        margin-top: 10px;

    }
    /*.columna:nth-child(3) {
        margin-top: 10px; /* Cambia el orden de la tercera columna */
    }/*

    

}