
body {
    margin: 0%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 0%;
    font-family: "League Spartan", sans-serif;
}

.primerbloque {
    display: flex;
 .img1{
    width: 100%;
    height: 100%;
    margin-left: 5%;
 }   
 #primerparrafo{
   font-size: 45px; 
   margin-left: 5%;
   text-align: left;
 }

 #segundoparrafo {
    font-size: 30px; 
   margin-left: 5%;
   text-align: left;
 }
}

.segundobloque{
    display: flex;
    background-color: aquamarine;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imagenes-seccion2{
    width: 20%;
}

.columna-segundobloque {
    flex-basis: calc(25% - 5px);
    margin-right: 5px;
    margin-bottom: 0px;
}

.columna-segundobloque img {
    width: 100%;
    height: auto;
}
.fila-segundobloque {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

#texto2 {
    text-align: center;
    font-size: 20px;
    
}

.columna-segundobloque {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    section {
        max-width: 100%; 
    }

    #prueba1, #prueba2 {
        display: block; 
    }
}

.contenedor {
    position: relative;
    text-align: center; /* Para centrar el texto */
    font-family: "League Spartan", sans-serif;
}

.pruebacabecera {
    width: 766px; /* Ajustar el tamaño de la imagen según sea necesario */
    height: 350px; /* Mantener la proporción de la imagen */
    font-family: "League Spartan", sans-serif;
}

.textosobreimagen{
    position: absolute;
    top: 50%; /* Posición verticalmente centrada */
    left: 50%; /* Posición horizontalmente centrada */
    right: -20%;
    transform: translate(-50%, -50%); /* Centrar el texto exactamente en el centro */
    color: rgb(0, 0, 0); /* Color del texto */
    font-size: 200%; /* Tamaño del texto */
    font-family: "League Spartan", sans-serif;
}




